/* ..:::: Footer :::::... */

footer {
	border-radius: 0 0 5px 5px;
	background: #f6f6f6;
	text-align: center;
	display: table;
	height: 3.875em;
	width: 100%;

}
footer > p {
	display: table-cell;
	font-size: 1.3em;
	height: inherit;
	vertical-align: middle;
	color: #a0a0a0;
}
